.papers-container {
  width: 900px;
  padding: 20px;
}

.papers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 20px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
